{% extends 'base.html' %}
{% block content %}
<h1>Add a {{ event_type.title() }} Event</h1>
<form action="" method="post" name="edit" class="editform">
    {{form.hidden_tag()}}
    <div class="row">
    <div class="form-group rounded border-0">
        <table>
            {% for field in form %}
            <tr>
                {% if field.name != "csrf_token" %}
                <td>{{ field.name }}</td>
                <td>{{ field() }}</td>
                {% endif %}
                {% for error in field.errors %}
                <td>
                    <span style="color: red;">[{{ error }}]</span>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
                <td><input type="submit" value="Add Event"></td>
            </tr>
        </table>
   </div>
</form>
{% endblock %}
