{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <h2 style="color:#29AA33;">Select Event Type</h2>
    <div class="row">
        <div class="col-sm">
            <a class="btn btn-primary btn-space btn-block" href='{{ url_for('add_event', event_type='regular') }}' role="button">Regular Event</a>
        </div>
        <div class="col-sm">
            <a class="btn btn-sample btn-space btn-block" href='{{ url_for('add_event', event_type='sleep') }}'  role="button">Sleep Schedule</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <a class="btn btn-primary btn-space btn-block" href='{{ url_for('add_event', event_type='recurring') }}' role="button">Recurring Event</a>
        </div>
        <div class="col-sm">
            <a class="btn btn-primary btn-space btn-block" href='{{ url_for('add_event', event_type='task') }}' role="button">Task Event</a>
        </div>
    </div>
    <h6><b>Regular Event: </b>One-time, standard Calendar Event. (examples: meetings, parties)</h6>
    <h6><b>Sleep Schedule: </b>Update your sleep schedule.</h6>
    <h6><b>Recurring Event: </b>Events that happen every week on specific days at certain times. (examples: classes, work)</h6>
    <h6><b>Task Event: </b>Things that have to be done, possibly by a certain date, automatically scheduled (examples: homework, personal projects)</h6>
</div>
{% endblock %}
