.content {
    padding: 0px 0px;
}

.container{
    border-radius: 6px;
    padding: 0px;
}

.footer {
    padding-bottom: 10px;
    bottom: 0;
    position: absolute;
}

.editform{
    display: block;
}


.navbar a:link {color: #dfdfdf; text-decoration: none;}
.navbar a:visited {color: #dfdfdf; text-decoration: none;}
.navbar a:hover {
    color: #f2f2f2; 
    text-decoration: none; 
    -moz-transition:.15s; 
    -ms-transition:.15s; 
    -webkit-transition:.15s;
    background-color: #7733ee;
    border-radius: 6px;
}
.navbar a:active {color: #efefef; text-decoration: none;}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 140%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}