.content {
    padding: 0px 0px;
   
}

.grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* Decorations */
.btn-matrix {
  margin: 20px;
}

.container{
    border-radius: 6px;
    padding: 0px;
}

.footer {
    padding: 0px;
    bottom: 0;
    margin-bottom: 0;
    position: absolute;
}

.editform{
    display: block;
}


.navbar a:link {color: #dfdfdf; text-decoration: none;}
.navbar a:visited {color: #dfdfdf; text-decoration: none;}
.navbar a:hover {
    color: #f2f2f2; 
    text-decoration: none; 
    -moz-transition:.15s; 
    -ms-transition:.15s; 
    -webkit-transition:.15s;
    background-color: #7733ee;
    border-radius: 6px;
}
.navbar a:active {color: #efefef; text-decoration: none;}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 140%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.btn-sample { 
  color: #ffffff; 
  background-color: #611BBD;  
} 
 
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #ffffff; 
  background-color: #49247A; 
} 
 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  background-image: none; 
} 
 
.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] .btn-sample, 
.btn-sample.disabled:hover, 
.btn-sample[disabled]:hover, 
fieldset[disabled] .btn-sample:hover, 
.btn-sample.disabled:focus, 
.btn-sample[disabled]:focus, 
fieldset[disabled] .btn-sample:focus, 
.btn-sample.disabled:active, 
.btn-sample[disabled]:active, 
fieldset[disabled] .btn-sample:active, 
.btn-sample.disabled.active, 
.btn-sample[disabled].active, 
fieldset[disabled] .btn-sample.active { 
  background-color: #611BBD; 
  border-color: #130269; 
} 
 
.btn-sample .badge { 
  color: #611BBD; 
  background-color: #ffffff; 
}
