{% extends 'base.html' %}
{% block content %}
<h1>Add a {{ title(event_type) }} Event</h1>
<form action="" method="post" name="edit" class="editform">
    {{form.hidden_tag()}}
    <div class="row">
    <div class="form-group rounded border-0">
        <table>
            {% for field in form %}
            <tr>
                <td>{{ field.name }}</td>
                <td>{{ field() }}</td>
            </tr>
            {% for error in field.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% endfor %}
            <tr>
                <td><input type="submit" value="Add Event"></td>
            </tr>
        </table>
   </div>
</form>
{% endblock %}
