{% extends 'base.html' %}
{% block content %}
<h1>Settings</h1>
<form action="" method="post" name="edit" class="editform">
    {{form.hidden_tag()}}
    <div class="form-group">
        <table>
            <tr>
                <td><img src='static/imgs/nickname.png'>Current Name</td>
                <td>{{ form.nickname(size=24) }}</td>
            </tr>
            <tr>
                <td><img src='static/imgs/email.png'>Current E-mail</td>
                <td>{{ form.email(size=24) }}</td>
            </tr>
            <tr>
                <td><img src='static/imgs/phone.png'>Current Phone</td>
                <td>{{ form.phone(size=24) }}</td>
            </tr>
            {% for error in form.errors.nickname %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <tr>
                <td><input type="submit" value="save changes"></td>
            </tr>
        </table>
   </div>
</form>
{% endblock %}