{% extends "base.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
        <div class="row">
            <div class="col-sm-2 rounded">
                <div class="container-fluid">
                <nav class="hidden-xs-down bg-faded sidebar">
                    <ul class="nav nav-pills nav-stacked flex-column">
                        <li class="nav-item"><p><a class="btn btn-success btn-block" href="{{ url_for('add_event', event_type='regular') }}" role="button">Add Event &raquo;</a></p></li>
                        <li class="nav-item"><p><a class="btn btn-primary btn-block" href="{{ url_for('add_event', event_type='recurring') }}" role="button">Add Recurring Event &raquo;</a></p></li>
                        <li class="nav-item"><p><a class="btn btn-primary btn-block" href="{{ url_for('add_event', event_type='task') }}" role="button">Add Task Event &raquo;</a></p></li>
                        <li class="nav-item"><p><a class="btn btn-sample btn-block" href="{{ url_for('add_event', event_type='sleep') }}" role="button">Sleep Schedule &raquo;</a></p></li>   
                        <li class="nav-item"><p><a class="btn btn-info btn-block" href="#" role="button">Edit Queue &raquo;</a></p></li>
                        <li class="nav-item"><p><a class="btn btn-danger btn-block" href="{{ url_for('update_schedule') }}" role="button">Update Schedule &raquo;</a></p></li>
                        <li class="nav-item"><p><a class="btn btn-secondary btn-block" href="#" role="button">Send Reminders &raquo;</a></p></li>

                    </ul>
                </nav>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <main class="col-sm-9 wrapper">
                <div class="container-fluid">
                    <script type="text/javascript">
                        function startTime() {
                            var dayarray=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday",
                                                    "Friday","Saturday");
                            var montharray=new Array("January","February","March","April","May","June",
                                                    "July","August","September","October","November","December");

                            document.getElementById('ctime').innerHTML =h+":"+m+":"+s+" "+dayarray[day]+", "+montharray[month]+" "+daym+", "+year;
                        }
                        var t = setTimeout(function(){startTime()},500);
                    </script>
                        <div class="row"><h4><span onload="startTime()" id="ctime"></span></h4></div>
                    </div>
                    <div class="row">
                        {# <div class='col-md-4'>
                            <h3>All Classes</h3>
                            {% include 'classlist.html' %}
                        </div> #}
                        <div class='col-md-12'>
                            <h3>Things to Do</h3>
                            {% include 'todolist.html' %}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    {% else %}
        <div class='jumbotron'>
            <h1 class="display-3">Welcome to your new Time Management Assistant.</h2>
            <p>Login with Google</p>
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('login') }}">login &raquo;</a></p>
        </div>  
    {% endif %}

{% endblock %}
