{# todolist is a list of ScheduleEvent #}
{% if todolist|length < 1 %}
<p>Nothing to do!</p>
{% else %}
<table class="table table-striped table-bordered">
    <thead>
        <th class="table-success">Start</th>
        <th class="table-danger" >End</th>
        <th class="table-primary"   >Name</th>
        <th class="table-secondary"   >Details</th>
        <th class="table-primary"   ></th>
        <th class="table-info"   ></th>
    </thead>

    <tbody data-link="row" class="rowlink">
        {% for e in todolist %}
        <tr>
            <td class="col-sm-1 text-success">{{ e.start.replace(microsecond=0).replace(second=0) }}</td>
            <td class="col-sm-1 text-danger">{{ e.end.replace(microsecond=0).replace(second=0) }}</td>
            <td class="col-sm-4">{{ e.name }}</td>
            <td class="col-sm-4">{{ e.extra_info }}</td>
            <td class="col-sm-1"><a href="#" class="btn-sm btn btn-primary" data-toggle="modal" data-target="#view" role="button">View</a></td>
            <td class="col-sm-1"><a href="#" class="btn-sm btn btn-info" data-toggle="modal" data-target="#edit" role="button">Edit</a></td>
        </tr> 
        {% endfor %}
    </tbody>
</table>
{% endif %}